* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(rgb(46, 46, 46), rgb(98, 98, 98));
    display: flex;
    flex-direction: column;
    font-family: arial;
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
}

nav {
    position: relative;
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    width: 20%;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    margin-bottom: 10px;
}

.game-options-show {
    transition: 1s;
    opacity: 1;
}

.game-options-hide {
    transition: 1s;
    opacity: 0;
}

#max-points {
    border: none;
    outline: none;
    caret-color: transparent; 
    text-align: center;
    width: 1rem;
    height: 1.5rem;
    border-radius: 3px;
}

#max-points:hover {
    border: 1px solid orange;
}

#max-points:focus::placeholder {
    color: transparent;
}

.scoreboard {
    display: flex;
    justify-content: center;
}

.score-display {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 50px;
    margin-bottom: 10px;
}

#play-button {
    background: coral;
    color: rgb(255, 255, 255);
    font-size: bold;
    box-shadow: 0px 5px rgba(0,0,0,0.59);
    border-radius: 3px;
    min-width: 50px;
    margin: auto;
    padding: 2px 10px;
    text-align: center;
    transition: all 0.2s;
}

.play-button-show {
    transition: 1s;
    opacity: 1;
}

.play-button-hide {
    transition: 1s;
    opacity: 0;
}


.game-display {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    font-size: 50px;
}

.player-icon-wrapper, .computer-icon-wrapper {
    width: 500px;
    /* height: 500px; */
    background-color: rgb(31,31,31);
    border-radius: 10px;
    box-shadow: -1px 12px 1cqb 0px rgba(0,0,0,0.59);
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: all 1s; */
}

.green-glow {
    border: 10px solid green;
}

.red-glow {
    border: 10px solid rgb(128, 0, 0);
}

.gray-glow {
    border: 10px solid rgb(172, 168, 124);
}

.player-score, .computer-score {
    color: white;
    background: rgb(43, 43, 43); ;
    box-shadow: -1px 12px 1cqb 0px rgba(0,0,0,0.59);
    border-radius: 20px;
    height: 80px;
    width: 80px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 4px rgb(129, 129, 129) ;
}

.player-controls {
    margin: 0 50px;
    display: flex;
    gap: 60px;
}

.player-controls > *:hover {
    cursor: pointer;
}

.rock-button,
.paper-button,
.scissors-button {
    width: 100px;
    height: 100px;
    border: 2px solid rgba(255, 255, 255, 0.914);
    box-shadow: -1px 2px 1cqb 1px rgba(141, 141, 141, 0.59);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-out;
}

.rock-button:hover,
.paper-button:hover,
.scissors-button:hover {
    box-shadow: -1px 2px 1cqb 0px rgba(141, 141, 141, 0.59);
    background-color: rgba(52, 52, 52, 0.819);
}


